body
    background-image: url("/assets/bg@1.25x.jpg") 
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed;

.fade
    animation: fadeIn 10s

@keyframes fadeIn
    from 
        opacity 0
    to 
        opacity 1
